<%- include("../partials/head.html") %>
    <div class="shadow-lg p-3 mb-5 bg-white rounded mx-auto" style="width: 70%;">
        <div class="row">
            <div class="col-md-6">
                <form class="p-5">
                    <h2 style="color: #06615A; font-weight: bolder;">Sign in to Zendesk</h2>
                    <div class="mb-3 mt-3">
                        <small  class="form-label fw-bolder" style="color: #06615A;" >Your Zendesk subdomain</small>
                        <div class="input-group">
                            <input type="text" class="form-control" style="border-style: solid;border-color: #06615A;" placeholder=" Subdomain">
                            <span class="input-group-text text-success fs-6">.zendesk.com</span>
                        </div>
                        <small class="" style="margin-left: 8em;color: #06615A;" >Don't forget your company's url?</small>
                      </div>
                      
                      <button type="submit" class="btn btn mt-3 text-light" style="width: 100%; background-color: #06615A;">Sign in</button> <br/>
                      <button type="submit" class="btn btn-outline-success text-dark mt-3" style="width: 100%;">New to Zendesk? Start your free trial </button>
                </form>
            </div>
            
            <div class="col-md-6 "  >
                    <div class="row mt-4 p-5" style="background-color: #E8FEFF;">
                        <div class="col-md-6">
                            <h1>What's New at Zendesk</h1>
                        <p>Get this quarter's announcements, plus a recap of 2022's biggest product hits.</p>
                        <button type="submit" class="btn btn mt-2" style="background-color: #06615A;" >Learn more</button>
                        </div>
                        <div class="col-md-6">
                            <img src="images/bb.webp" width="100px" height="100px"  />
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>
   



<%- include("../partials/bottom.html") %>